/* .steps {
    width: 75%;
    margin: 0 auto;
    margin-top: 5%;
}

#root > div > div > div:nth-child(1) {
    color: red;
}

#root > div > div > div:nth-child(2) {
    color: black;
}

#root > div > div > div:nth-child(3) {
    color: wheat;
}

#root > div > div > div:nth-child(4) {
    color: firebrick;
} */